nav.navi {
width: 100%;
background-color: black;
display: flex;
justify-content: center;
color: white;
    ul.navUl {
  width: 60%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 26px;
  padding: 10px;

        li.navLi {
            cursor: pointer;
         a.navLink {
       
             
            }
        }
    }
}